---
const allPoems = await Astro.glob('../pages/poems/*.md')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Poetry Archive</h1>
    {allPoems.map((p) => 
      <li>
        <a href={p.url}>{p.url.slice(7)}</a>
      </li>
    )}
	</body>
</html>
